body{
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', serif;
}


.grid {
    display: grid;
    grid-template-areas: "header header header header"
                         "encriptador encriptador mensajes mensajes"
                         "encriptador encriptador mensajes mensajes"
                         "footer footer footer footer";
                         
}

.grid > header {
    grid-area: header;
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}
.grid > section#encriptador{
    grid-area: encriptador;
   
    padding: 10px;
    text-align: center;
}
.grid > section#mensajes    {
    grid-area: mensajes;
 
    padding: 10px;
    text-align: center;
    flex-direction: column;
}
.grid > footer {
    grid-area: footer;
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}

.cabecera{
    display: flex;
    justify-content: initial;
    align-items: center;
}
.cabecera h2{
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 10px;
}
.logodetective{
    width: 100px;
    height: 100px;
    margin-top: 10px;
}
.imagenHistorial{
    width: 400px;
    height: 200px;
    margin-top: 10px;
    animation-name: mover;
    animation-duration        : 2s;
    animation-iteration-count : infinite;
}
@keyframes mover{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(10px);
    }
}

/* .historial{
   background-color: #f2f2f2;
   border: 1px solid #ccc;
   

  } */
  #mensajes{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #form2 textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: auto;
    background-color: #f2f2f2;  
    text-decoration: none;
   
  }

  #mirar{
    color: green;
  }
  .contenedorRedes{
    margin-top: 10px;
  }
  .redes{
    color: #c57d56;
   margin: 20px;
   text-decoration: none;
  }

  .redes i {
    transition: 1s all;
  }
  .redes i:hover{
    transform: scale(0.92);
    color: #933d0f;
  }
  .encriptador{
    width: 400px;
    height: 200px;
    background: none;
    border: none;
  }
  .principalBotones{
    margin-top: 15px;
    margin-left: 50px;

  }
  .botones button{
    background-color: #c57d56;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 10px;
    cursor: pointer;
    transition: 1s all;
  }
    .botones button:hover{
        background-color: #fff;
        color: #c57d56;
    }


